<!DOCTYPE html>
<html>
  <head>
    <title>Harmony Club Of Worcester</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "custom" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="sticky-top">
      <div class="text-center bg-white py-1">
        <h1><strong><%= link_to "Harmony Club Of Worcester", static_home_path, class:"nav-link text-danger" %></strong></h1>
      </div>
      <nav class="navbar navbar-expand-lg bg-danger text-center">
        <div class="container-fluid text-center ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse .justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav text-center">
              <li class="nav-item">
                <%= link_to "About Us", static_about_path, class:"nav-link text-light" %>
              </li>
              <li class="nav-item text-light pt-1">
                <h5>|</h5>
              </li>
              <li class="nav-item">
                  <%= link_to "Contact Us", static_contact_path, class:"nav-link text-light" %>
              </li>
              <li class="nav-item text-light pt-1">
                <h5>|</h5>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Additional Pages
                </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Events", events_path, class:"dropdown-item" %></li>
                    <li><%= link_to "Albums", albums_path, class:"dropdown-item" %></li>
                    <li><%= link_to "Photos", photos_path, class:"dropdown-item" %></li>
                    <li><%= link_to "Sponsors", sponsors_path, class:"dropdown-item" %></li>
                    <% @pages.each do |page| %>
                      <% if page.page_type=="External URL" %>
                        <li><%= link_to page.title, page.destination, target: '_blank', class:"dropdown-item" %></li>
                      <% else %>
                        <li><%= link_to page.title, page_path, class:"dropdown-item" %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </li>
            </ul>
        </div>
            <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-light" %>
        <% else %>
              <%= link_to "Sign In", users_path, class: "nav-link text-light" %>
        <% end %>
        </div>
      </nav>
    </div>

    <div class="container-fluid" style="height: 100%">
      <div class="row">
        <div class="col-2 bg-primary">
        </div>
        <div class="col-8">
          <%= yield %>
        </div>
        <div class="col-2 bg-primary">
        </div>
      </div>
    </div>

	<footer class="bd-footer">

    <div class="text-center border-bottom border-5 border-light p-3 bg-danger">
      <h2><strong><a class="text-light text-decoration-none" href="/">Harmony Club of Worcester | 2023</a></strong></h2>
    </div>
    <div class="row justify-content-center pt-1 text-danger">
      <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
        <strong><u><h6 class="d-inline">About Us</h6></u></strong>
        
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
        <strong><u><h6 class="d-inline">Meeting Agendas</h6></u></strong>
        
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
        <strong><u><h6 class="d-inline">Events</h6></u></strong>
        
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
        <strong><u><h6 class="d-inline">Sponsors</h6></u></strong>
        
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
        <strong><u><h6 class="d-inline">Scholarship</h6></u></strong>
        
      </div>
    </div>
  </footer>
    


	      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>
