<p style="color: green"><%= notice %></p>

<%= render @photo %>

<div>
  <img src=<%= @photo.imagelink %>, class="card-img-top rounded" alt="..." height="500">
</div>

<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
  <%= link_to "Back to photos", photos_path %>

  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
